body {
  display: inline-flexbox;
}
h2 {
  font-family: "Cormorant", serif;
  font-family: "Press Start 2P", cursive;
  display: grid;
  position: relative;
  margin-right: 3rem;
}

.heroImage {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  padding-right: 10rem;
  background-image: url("avatar.png");
  background-size: 10rem;
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
}
.card-img-top {
  max-width: 100%;
}

.card-header {
  font-size: 40px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}
.card-title {
  font-family: "Cormorant", serif;
  font-family: "Press Start 2P", cursive;
}

.card-text {
  font-family: "Cormorant", serif;
  font-family: "Press Start 2P", cursive;
}

.card-header {
  margin-bottom: 20px;
}

.browser {
  display: grid;
  float: left;
  text-align: left;
  max-width: 15rem;
  padding-left: 20px;
}

.hero {
  background-image: url("white.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 15rem;
}
.about {
  justify-content: center;
  display: flex;
  margin-bottom: -194px;
}
.about-me {
  font-family: "Cormorant", serif;
  font-family: "Press Start 2P", cursive;
  background-image: url("white.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  padding: 16rem;
  margin: -10rem;
  margin-bottom: 10px;
}

h3 {
  font-family: "Cormorant", serif;
  font-family: "Press Start 2P", cursive;
  display: flex;
  padding-top: 10rem;
}
.accordion {
  display: flex;
}
.accordion-item {
  display: flex;
}
.accordion-body {
  font-size: large;
}
.linkedin {
  display: flex;
  padding-bottom: 50px;
}
footer {
  display: flex;
}
